*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
}

body{
    background-image: url('src/new_background_1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.wrapper{
    width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    background-color: blue;
    display:flex;
    flex-wrap: wrap;
}

#left-section{
    height: 110vh;
    width: 40%;
    background-color: rgb(196, 255, 214);
    display: flex;
    flex-direction: column;